@using CRUD_MVC___Portifolio
@using CRUD_MVC___Portifolio.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ClienteModel>
@{
    ViewData["Title"] = "Clientes";
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/css/Home.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<h1 class="text-center">Clientes:</h1>
<br />
<div class="text-left">
    <a role="button" class="btn btn-success btn-lg" asp-controller="Cliente" asp-action="Criar">Novo</a>
</div>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var cliente in Model)
            {
                <tr>
                    <th scope="row">@cliente.Id</th>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Endereco</td>
                    <td>@cliente.Telefone</td>
                    <td>@cliente.Email</td>
                    <td class="btn-group" role="group" aria-label="botao">
                        <a role="button" class="btn btn-primary" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="Apagar">Apagar</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
